# Copyright (c) 2020 Jefferson Lee.
# SPDX-License-Identifier: Apache-2.0

if BOARD_ARDUINO_NANO_33_BLE_V2 || BOARD_ARDUINO_NANO_33_BLE_SENSE_V2

config BOARD
	default "arduino_nano_33_ble_v2" if BOARD_ARDUINO_NANO_33_BLE_v2
	default "arduino_nano_33_ble_sense_v2" if BOARD_ARDUINO_NANO_33_BLE_SENSE_V2

config BT_CTLR
	default BT

config REGULATOR
	default y if SENSOR

endif # BOARD_ARDUINO_NANO_33_BLE_V2 || BOARD_ARDUINO_NANO_33_BLE_SENSE_V2
